body {
    background-color: black;
    color: white;
    font-family: MS UI Gothic;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.imageButtons a {
    transition: filter 0.3s ease;
}

.imageButtons a:hover {
    filter: brightness(50%);
}

a {
    color: white;
    transition: color 0.2s ease;
    text-decoration: none;
}

a:hover {
    color: grey;
}
