@font-face {
    font-family: MS Sans Serif;
    src: url(fonts/MSSansSerif.ttf) format("truetype");
}

body {
    background-color: black;
    color: white;
    font-family: MS Sans Serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.imageButtons a {
    transition: filter 0.3s ease;
}

.imageButtons a:hover {
    filter: brightness(50%);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    font-style: italic;
    text-decoration: underline;
}